In [1]:
# Write python program to find missing values using pandas and numpy

import pandas as pd
import numpy as np

dict = {'Mathematics':[69, 77, np.nan],
        'Science': [13, 37, 42],
        'Languages':[np.nan, 33, 11]}

df = pd.DataFrame(dict)
df.isnull()

Atharva Auti Roll No. 1

   Mathematics  Science  Languages
0        False    False       True
1        False    False      False
2         True    False      False